body {
  margin: 0;
  font-family: myriad-pro, sans-serif;
  font-style: normal;
  font-weight: 300;
}

header {
  margin: 0;
  background-color: #2e3483;
}

nav {
  margin: 0;
  background-color: #2e3483;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav li {
    float: right;
    padding: 0 20px;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

header {
  display:block;
}


header .text-container {
  padding-top: calc(50px + (100 - 50) * ((100vw - 300px) / (1920 - 300)));
  padding-bottom: calc(50px + (100 - 50) * ((100vw - 300px) / (1920 - 300)));
}


header .text-container p {
  color: white;
  font-size: 1em;
}

header .text-container h1 {
  text-transform: uppercase;
  margin: 0;
  color: #130D3D;

  /* font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
  font-size: calc(30px + (65 - 30) * ((100vw - 300px) / (1920 - 300)));
}


header span {
color: rgb(255, 255, 255);
text-transform: uppercase;
font-size: 1.1em;
display: inline-block;
font-weight: bold;
}


header img {
  width: 50%;
  position: absolute;
  right: 0;
  z-index: 100;
  bottom: calc((70px + (150 - 70) * ((100vw - 300px) / (1920 - 300))) * -1);
}

header section {
  position: relative;
}

.curve-container {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background-color: #2e3483;
}

.curve-container__curve {
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  display: block;
}

.curve-container__curve.curve-three path {
  fill: #FFF;
}

@media only screen and (max-width: 580px) {

  header .text-container {
    padding-bottom: calc(60px + (130 - 60) * ((100vw - 300px) / (580 - 300)));
  }

  header img {
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: calc((40px + (100 - 40) * ((100vw - 300px) / (1920 - 300))) * -1);
  }
}