.hero img {
  width: 40%;
}
.facts {
  margin-left: 15%;
  align-items: center;
  margin-right: 15%;
  padding-top: 10%;
  padding-bottom: 10%;
}

.facts img {
  width: 18%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
padding-bottom: 40px;
}

.facts p {
  font-size: 1.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
